{
  "log": {
    "_recordingName": "build-agent-group-and-ticket-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "40edcc90d8221a1e1207ba515fd4cc1b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://creativicehelpdesk.freshservice.com/api/v2/groups?per_page=100&page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1304,
            "text": "{\"groups\":[{\"id\":21000061290,\"name\":\"Capacity Management Team\",\"description\":\"Capacity Management Team\",\"escalate_to\":null,\"unassigned_for\":\"15m\",\"business_hours_id\":null,\"created_at\":\"2022-07-04T11:09:30Z\",\"updated_at\":\"2022-07-10T03:17:01Z\",\"auto_ticket_assign\":false,\"restricted\":false,\"approval_required\":false,\"ocs_schedule_id\":null,\"agent_ids\":[21000049726],\"members\":[21000049726],\"observers\":[],\"leaders\":[],\"members_pending_approval\":[],\"leaders_pending_approval\":[],\"observers_pending_approval\":[]},{\"id\":21000061286,\"name\":\"Change Team\",\"description\":\"Change Management Team\",\"escalate_to\":null,\"unassigned_for\":\"15m\",\"business_hours_id\":null,\"created_at\":\"2022-07-04T11:09:30Z\",\"updated_at\":\"2022-07-10T18:19:51Z\",\"auto_ticket_assign\":false,\"restricted\":false,\"approval_required\":false,\"ocs_schedule_id\":null,\"agent_ids\":[21000049726],\"members\":[21000049726],\"observers\":[],\"leaders\":[],\"members_pending_approval\":[],\"leaders_pending_approval\":[],[...]
