{
  "log": {
    "_recordingName": "fetch-tickets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d86d766a6f4f65208096a5bf3e9b95fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://creativicehelpdesk.freshservice.com/api/v2/tickets?per_page=100&page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1918,
            "text": "{\"tickets\":[{\"subject\":\"test ticket (group only)\",\"group_id\":21000061289,\"department_id\":null,\"category\":null,\"sub_category\":null,\"item_category\":null,\"requester_id\":21000062811,\"responder_id\":null,\"due_by\":\"2022-07-20T21:00:00Z\",\"fr_escalated\":true,\"deleted\":false,\"spam\":false,\"email_config_id\":null,\"fwd_emails\":[],\"reply_cc_emails\":[],\"cc_emails\":[],\"is_escalated\":false,\"fr_due_by\":\"2022-07-13T18:00:00Z\",\"id\":6,\"priority\":1,\"status\":2,\"source\":3,\"created_at\":\"2022-07-11T11:32:29Z\",\"updated_at\":\"2022-07-11T11:32:29Z\",\"requested_for_id\":21000062811,\"to_emails\":null,\"type\":\"Incident\",\"description\":\"<div style=\\\"font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;\\\">\\n<div> test ticket (group only)</div>\\n</div>\",\"description_text\":\" test ticket (group only)\",\"custom_fields\":{}},{\"subject\":\"Test ticket\",\"group_id\":21000061290,\"department_id\":null,\"category\":null,\"sub_category\":null,\"item_category\":null,\"requester_id\":21000062811,\"responder_id\":21000049726,\"due_by\":\"2022-07-20T21:00:00Z\",\"fr_escalated\":true,\"deleted\":false,\"spam\":false,\"email_config_id\":null,\"fwd_emails\":[],\"reply_cc_emails\":[],\"cc_emails\":[],\"is_escalated\":false,\"fr_due_by\":\"2022-07-13T18:00:00Z\",\"id\":5,\"priority\":1,\"status\":2,\"source\":3,\"created_at\":\"2022-07-10T16:56:09Z\",\"updated_at\":\"2022-07-10T16:56:09Z\",\"requested_for_id\":21000062811,\"to_emails\":null,\"type\":\"Incident\",\"description\":\"<div style=\\\"font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;\\\">\\n<div> Test Description<br>\\n</div>\\n</div>\",\"description_text\":\" Test Description\",\"custom_fields\":{}},{\"subject\":\"Where can I find more information about employee health benefits?\",\"group_id\":null,\"department_id\":null,\"category\":null,\"sub_category\":null,\"item_category\":null,\"requester_id\":21000049728,\"responder_id\":null,\"due_by\":\"2022-07-14T21:00:00Z\",\"fr_escalated\":true,\"deleted\":false,\"spam\":false,\"email_config_id\":null,\"fwd_emails\":[],\"reply_cc_emails\":[],\"cc_emails\":[],\"[...]
