{
  "log": {
    "_recordingName": "fetch-agent-roles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "eb0827910e505875e63a5a4272b6858e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://creativicehelpdesk.freshservice.com/api/v2/roles?per_page=100&page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1602,
            "text": "{\"roles\":[{\"id\":21000049414,\"name\":\"Account Admin\",\"description\":\"Has complete control over the help desk including access to Account or Billing related information, and receives Invoices.\",\"default\":true,\"scopes\":{\"ticket\":null,\"problem\":null,\"change\":null,\"release\":null,\"asset\":null,\"solution\":null,\"contract\":null},\"created_at\":\"2022-07-04T11:09:28Z\",\"updated_at\":\"2022-07-06T17:45:52Z\"},{\"id\":21000049415,\"name\":\"Admin\",\"description\":\"Can configure all features through the Admin tab, but is restricted from viewing Account or Billing related information.\",\"default\":true,\"scopes\":{\"ticket\":null,\"problem\":null,\"change\":null,\"release\":null,\"asset\":null,\"solution\":null,\"contract\":null},\"created_at\":\"2022-07-04T11:09:28Z\",\"updated_at\":\"2022-07-06T17:45:52Z\"},{\"id\":21000049416,\"name\":\"SD Supervisor\",\"description\":\"C[...]
