{
  "log": {
    "_recordingName": "build-agent-group-and-agent-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d30081897ac26a52fc4e32fe3f091791",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://creativicehelpdesk.freshservice.com/api/v2/agents?per_page=100&page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1732,
            "text": "{\"agents\":[{\"active\":true,\"address\":null,\"auto_assign_status_changed_at\":\"2022-07-05T13:48:09Z\",\"auto_assign_tickets\":true,\"background_information\":null,\"can_see_all_tickets_from_associated_departments\":false,\"created_at\":\"2022-07-04T11:09:29Z\",\"custom_fields\":{},\"department_ids\":[],\"email\":\"cryoforksmc@gmail.com\",\"external_id\":null,\"first_name\":\"Korsie\",\"has_logged_in\":true,\"id\":21000049726,\"job_title\":null,\"language\":\"en\",\"last_active_at\":\"2022-07-16T10:50:24Z\",\"last_login_at\":\"2022-07-09T13:56:24Z\",\"last_name\":\"Ballesteros\",\"location_id\":null,\"mobile_phone_number\":null,\"occasional\":false,\"reporting_manager_id\":null,\"role_ids\":[21000049414],\"roles\":[{\"role_id\":21000049414,\"assignment_scope\":\"entire_helpdesk\",\"groups\":[]}],\"scopes\":{\"ticket\":null,\"problem\":null,\"change\":null,\"release\":null,\"asset\":null,\"solution\":null,\"contract\":null},\"scoreboard_level_id\":null,\"scoreboard_points\":null,\"signature\":null,\"time_format\":\"12h\",\"time_zone\":\"Eastern Time (US & Canada)\",\"updated_at\":\"2022-07-04T11:09:29Z\",\"vip_user\":false,\"work_phone_number\":\"+639159329204\",\"group_ids\":[21000061286,21000061290],\"member_of\":[21000061286,21000061290],\"observer_of\":[],\"member_of_pending_approval\":[],\"observer_of_pending_approval\":[]},{\"active\":false,\"address\":null,\"auto_assign_status_changed_at\":null,\"auto_assign_tickets\":true,\"background_information\":null,\"can_see_all_tickets_from_associated_departments\":false,\"created_at\":\"2022-07-04T11:09:31Z\",\"custom_fields\":{},\"department_ids\":[],\"email\":\"rachel@freshservice.com\",\"external_id\":null,\"first_name\":\"Rachel\",\"has_logged_in\":false,\"id\":21000049729,\"job_title\":null,\"language\":\"en\",\"last_active_at\":null,\"last_login_at\":null,\"last[...]
